<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Ice Cream</title>
    <link rel="icon" href="/media/favicon.ico" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>

<body>
    <!--<div class="se-pre-con"></div>-->
    <div class="theme-layout">
        <div class="container-fluid pdng0">
            <div class="row merged">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="land-featurearea">
                        <div class="land-meta">
                            <h1>ICE CREAM</h1>
                            <p>
                                BUT NOT COLD!
                            </p>
                            <div class="friend-logo">
                                <span><img src="/media/wink.png" alt=""></span>
                            </div>
                            <a href="https://github.com/calangthang-wf" title="github" class="folow-me">Follow Me</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="login-reg-bg">
                        <div class="log-reg-area sign">
                            <h2 class="log-title">Login</h2>
                            <p>
                                Don’t use Ice Cream Yet? <a href="/" title="">Take the tour</a> or <a href="/login" title="">Join now</a>
                            </p>
                            {% if not request.user.is_authenticate %}
                            <form action='' method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input name="username" type="text" id="input" required="required" />
                                    <label class="control-label" for="input">Username</label><i class="mtrl-select"></i>
                                </div>
                                <div class="form-group">
                                    <input name="password" type="password" required="required" />
                                    <label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
                                    <a>{{ error }}</a>
                                </div>
                                
                                <div class="checkbox">
                                    <label>
								        <input type="checkbox" checked="checked"/><i class="check-box"></i>Always Remember Me.
							        </label>
                                </div><br>
                                <a href="{% url "register_user" %}">Register</a>
                                <a href="#" title="" class="forgot-pwd">Forgot Password?</a>
                                <div class="submit-btns">
                                    <button class="mtr-btn signin" type="submit"><span>Login</span></button>
                                </div>
                            </form>
                            {% else %}
                            <p> You are already login, would you like <a href="/logout">logout?</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="{% static 'js/main.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>